.row {outline:1px solid red;}
.column{outline:1px solid blue;}


#bigText{font-family: 'Dancing Script', cursive; font-size: 170px;}
#mainImage{width:100%;}

@media only screen and (max-width: 600px) {
  .column {
    background-color: lightblue;
  }
}
