*{outline: 1px solid red;}

p, h1, h5, div {
  font-family: 'Oswald', sans-serif;
  color: teal;
}

section {
  background-color: #7FFFD4;
}

.hello, .header {
  background-color: #7FFFD4;
}

.author, .work_heading, .about_header {
  margin-bottom: 15px;
}

.portfolio {
  float: left;
}

.author, .work {
  text-align: center;
  background-color: #7FFFD4;
}

.about, .about_cell {
  text-align: center;
  background-color: #7FFFD4;
}

.work, .gallery {
  height: 100px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.port, .gallery, .work_heading, .header3 {
  text-align: center;
  background-color: sandybrown;
}

.heading {
  margin-top: 50px;
  text-align: center;
}

.link {
  line-height: 4.2em;
  text-align: center;
  background-color: steelblue;
  color: white;
}

#bigText{font-family: 'Dancing Script', cursive; font-size: 170px;}
#mainImage{width:100%;}

@media only screen and (max-width: 600px) {
  .column {
  }
}
