*{outline: 1px solid red;}

section {
  background-color: #7FFFD4;
  color: white;
}

.portfolio {
  float: left;
}

.author {
  text-align: center;
}

.link {
  line-height: 4.2em;
  text-align: center;
  background-color: red;
  color; green;
}

#bigText{font-family: 'Dancing Script', cursive; font-size: 170px;}
#mainImage{width:100%;}

@media only screen and (max-width: 600px) {
  .column {
    background-color: lightblue;
  }
}
